.center {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.buffer-top {
    margin-top: 10%;
}

.buffer-left {
    margin-left: 2%;
}

.register-input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10%;
    min-width: 150px;
}

.well-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.short-input {
    margin-bottom: 10px;
    width: 20px;
    min-width: 20px;
}

.medium-input {
    margin-bottom: 10px;
    width: 10%;
    min-width: 200px;
}

.long-input {
    margin-bottom: 10px;
    width: 30%;
    min-width: 200px;
    min-height: 100px;
}

.longer-input {
    margin-bottom: 10px;
    width: 30%;
    min-width: 200px;
    min-height: 150px;
}

.login-input {
    width: 10%;
}

.login-btn {
    width: 10%
}

.login-form {
    margin-top: 5%
}

.googlebtn {
    background-color: #2aabd2;
}