.center {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.no-focus:focus {
    border-color: #062038;
    box-shadow: none;
}

.tall-well {
    overflow: hidden;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.buy-ticket-label {
    margin-top: 5px;
}

.buy-ticket-btn {
    margin-top: 10px;
}

.buy-ticket-field {
    margin-left: 10px;
    width: 40% !important;
    margin-top: 0px !important;
}

.event-detail {
    margin-top: 5px !important;
}


.buffer-top {
    margin-top: 5%;
}

.post-label {
    margin-top: 10px;
    margin-right: 10px;
}

.login-logo {
    width: 300px;
}

.search-field{
    margin-left: 10px !important;
    margin-top: 5px !important;
}

.no-hyper {
    color: black;
}

.no-hyper:hover {
    color: black;
    text-decoration: none;
}

.large {
    font-size: 120%;
    font-weight: bold;
}

.ticket-listing {
    width: 250px;
    height: 250px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px !important;
    background-color: #062e48
}

.buffer-right {
    margin-right:10px;
}

.filter-label {
    margin-top: 10px !important;
}

.filters {
    background-color: #062e48;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.filter-field {
    width: 50% !important;
}

.event-listing {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px !important;
    background-color: #062e48
}

.event-listing:hover {
    background-color: #06445f;
    color: white;
}

.vertical-buffer {
    margin-top: 10px;
    margin-bottom: 10px;
    width:1000px;
}

.post-event-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

.buffer-left {
    margin-left: 2%;
}

.white-background {
    background-color: white;
}

.login-img {
    width: 200px;
}

.well-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.short-input {
    margin-bottom: 10px;
    width: 20px;
    min-width: 20px;
}

.user-title {
    margin-left: 15%;
    font-size: 200%;
    font-weight: bold;
}

.info {
    font-size: 150%;
    margin-left: 15%;
}

.error {
    color: red;
}

.medium-input {
    margin-bottom: 10px;
    width: 25%;
    min-width: 200px;
}

.long-input {
    margin-bottom: 10px;
    width: 40%;
    min-width: 200px;
    min-height: 100px;
}

.longer-input {
    margin-bottom: 10px;
    width: 40%;
    min-width: 200px;
    min-height: 150px;
}

.login-input {
    width: 10%;
    min-width: 200px;
}

.recover-well {
    width: 50%;
    min-width:300px;
}

.recover-input {
    width: 10%;
    min-width: 200px;
    margin-left: 10px;
}

.login-btn, .recover-btn {
    width: 10%;
    min-width: 200px;
}

.post-event-btn {
    width: 20%;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.indent {
    margin-left: 10px;
}

.login-form, .password-form {
    margin-top: 2%
}

.googlebtn {
    background-color: #2aabd2;
}

.datetimepicker {
    color: black !important;
}

.prev {
    color: black !important;
}

.switch {
    color: black !important;
}