dj-database-url==0.4.1
dj-static==0.0.6
Django==1.10.1
django-storages==1.5.1
django-toolbelt==0.0.1
oauthlib==2.0.0
pathspec==0.3.4
Pillow==3.4.1
psycopg2==2.6.2
PyJWT==1.4.2
python-dateutil==2.6.0
python-social-auth==0.2.21
python3-openid==3.0.10
PyYAML==3.12
requests==2.9.1
requests-oauthlib==0.7.0
semantic-version==2.5.0
static3==0.7.0
texttable==0.8.6
virtualenv==15.0.3
websocket-client==0.37.0
django-mathfilters==0.4.0
boto==2.43.0
