{% extends 'header.html' %}
{% block title %}
    EventLite
{% endblock %}
{% block body %}
    {% block messages %}
    {% endblock %}

    <div id="main">
        <section class="wrapper style1">
            <div class="inner">
            <div class="row uniform">
                {% block content %}
                    <div class="8u">
                        {% block left-content %}{% endblock %}
                    </div>
                    <div class="4u">
                        {% block right-content %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
            </div>
        </section>
    </div>
    {% block footer %}
    <footer id="footer">
        <div class="copyright">
            Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
        </div>
    </footer>
    {% endblock %}
{% endblock %}
