<div>
{% if not events_attending and not events_hosting %}
    <h4  class="center">No events to display.</h4>
{% endif %}
{% if events_attending %}
    <h1 class="center">Attending</h1>
    <div class="row">
    {% for event in events_attending %}

        <a href="{% url 'event-info' event.id %}"
           class="col-xs-2 event-listing no-hyper">
            <span class="event-detail">{{ event.name }} </span>
            <br><br>
            <span class="event-detail">{{ event.time }}</span><br>
            <span class="event-detail">{{ event.location }}</span><br>
        </a>
        {% endfor %}
    </div>
</div><br>
{% endif %}<br>
<div>
{% if events_hosting %}
    <h1 class="center">Hosting</h1>
    <div class="row">

    {% for event in events_hosting %}
        <a href="{% url 'event-info' event.id %}"
           class="col-xs-2 event-listing no-hyper">
            <span class="event-detail">{{ event.name }} </span>
            <br><br>
            <span class="event-detail">{{ event.time }}</span><br>
            <span class="event-detail">{{ event.location }}</span><br>
        </a>
    {% endfor %}
    </div>
{% endif %}
</div>