{% extends 'base.html' %}
{% block customcss %}
{% load static %}

    <link rel="stylesheet" href="{% static 'eventlite/css/event-info.css' %}"/>
{% endblock %}


{% block left-content%}


{% endblock %}

{% block center-content %}
    <span class="event-detail">Name: {{ event.name }} </span>
    <br><br>
    <span class="event-detail">Description: {{ event.description }}</span><br>
    <span class="event-detail">Time: {{ event.time }}</span><br>
    <span class="event-detail">Location: {{ event.location }}</span><br>
    <span class="event-detail">Email: {{ event.email }}</span><br>
    <span class="event-detail">Host: {{ seller_username }}</span><br>
    <span class="event-detail">Link: {{ event.media }}</span><br>
    <input type="hidden"  id="long" value={{event.coordinate.x}}>
    <input type="hidden"  id="lat" value={{event.coordinate.y}}>
    <br>
    {% if event.seatLayout %}

     <img src="{% url 'seatLayout' event.id %}" class = "seat" >
    
    {% endif %}
    <div class="row">
    {% load mathfilters %}
    {% for ticketType in ticketTypes %}
    <div class="u4 ticket-listing">
        <span class="large event-detail">
            {{ ticketType.name }}
        </span><br>
        <span class="event-detail">
            Price: {{ ticketType.price }}
        </span><br>
        <span class="event-detail">
            Available: {{ ticketType.numOfTickets|sub:ticketType.ticketsSold}}
        </span><br>
        <span class="event-detail">
            Description: {{ ticketType.details }}
        </span><br>
        <span class="event-detail">
            {% for ticket in userTickets %}
                {% if ticket.ticketType.id == ticketType.id %}
                    Purchased: {{ ticket.quantity }}
                {% endif %}
            {% endfor %}

        </span><br><br>

        <form action="{% url 'buy-ticket' ticketType.id  %}" method="post">
            <div class="row quantity-field">
                {% csrf_token %}
                <span class="buy-ticket-label">Quantity:</span>
                <input class="buy-ticket-field"
                       type="number" name="quantity">
            </div>
                <input class="buy-ticket-btn btn btn-primary"
                       type="submit" value="Buy Tickets">
        </form>
    </div>
    {% endfor %}
    </div>
{% endblock %}


{% block right-content %}
        <div id="map" >

        </div>

{% load static %}
<script src="{% static 'js/event-info.js' %}"></script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGAfMw23ko_z5TJLg_nfi6PLClCxQ7yqw&callback=initMap">
</script>

{% endblock %}
