<div>
    <h1 class="center">Attending</h1>
    {% if events_attending %}
    <div class="row">
    {% for event in events_attending %}
        <a href="{% url 'event-info' event.id %}"
           class="col-xs-2 event-listing no-hyper">
            {% if event.bannerImage %}
                <img class='banner-image' src="{% url 'bannerimage' event.id %}">
            {% endif %} <br>
            <h1 class="center event-detail">{{ event.name }} </h1>
            <br>
            <i class="event-detail">{{ event.time }}</i><br>
        <br>
            <span class="event-detail">{{ event.location }}</span><br>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p class="center">No events to show</p>
    {% endif %}
</div><br><br>
<div>
    <h1 class="center">Hosting</h1>
    {% if events_hosting %}
    <div class="row">
    {% for event in events_hosting %}
        <a href="{% url 'event-info' event.id %}"
           class="col-xs-2 event-listing no-hyper">
            {% if event.bannerImage %}
                <img class='banner-image' src="{% url 'bannerimage' event.id %}">
            {% endif %} <br>
            <h1 class="center event-detail">{{ event.name }} </h1>
            <br>
            <i class="event-detail">{{ event.time }}</i><br>
        <br>
            <span class="event-detail">{{ event.location }}</span><br>
        </a>
    {% endfor %}
    </div>
    {% else %}
        <p class="center">No events to show</p>
    {% endif %}
</div><br><br>

<div>
    <h1 class="center">Past Events</h1>
    {% if past_events %}
    <div class="row">
    {% for event in past_events %}
        <a href="{% url 'event-info' event.id %}"
           class="col-xs-2 event-listing no-hyper">
        {% if event.bannerImage %}
                <img class='banner-image' src="{% url 'bannerimage' event.id %}">
            {% endif %} <br>
            <h1 class="center event-detail">{{ event.name }} </h1>
            <br>
            <i class="event-detail">{{ event.time }}</i><br>
        <br>
            <span class="event-detail">{{ event.location }}</span><br>
        </a>
    {% endfor %}
    </div>
    {% else %}
        <p class="center">No events to show</p>
    {% endif %}
</div>
