<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EventLite{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'media/favicon.png'%}">
</head>
<script src="{% static 'libs/jquery-3.1.1.js' %}"></script>
<script src="{% static 'libs/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{%  static 'libs/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'templated/css/main.css' %}"/>
<!-- Scripts -->
    <script src="{% static 'templated/js/jquery.min.js' %}"></script>
    <script src="{% static 'templated/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'templated/js/skel.min.js' %}"></script>
    <script src="{% static 'templated/js/util.js' %}"></script>
    <script src="{% static 'templated/js/main.js' %}"></script>
<body>
{% block body %}
{% endblock %}
</body>
</html>