{% extends 'header.html' %}
{% load static %}
{% block body %}
    <div class="center buffer-top">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <h1>Welcome to EventLite</h1><br>
        <span>The place for all your ticket needs.</span>

        <form class="login-form" action="{% url 'login' %}" method="post">
            Username: <input class="login-input" type="text" name="username">
            <br><br>
            Password: <input class="login-input" type="password" name="password">
            <br><br>
            <input class="btn btn-primary login-btn" type="submit" value="Log in">
            <br>
            <input type="hidden" name="next" value="{{ next }}" >
            {% csrf_token %}
            
        </form>
        <br><br>
        <a href="{% url 'recover-password' %}">Forgot Password?</a>
        <br><br>
        <a href="{% url 'social:begin' 'facebook' %}?next={% url 'loggedin' %}">
            <img class="login-img" src="{% static 'media/fb-login.png' %}">
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'loggedin' %}">
            <img class="login-img" src="{% static 'media/g+-login.png' %}">
        </a>
        <br><br>
        <a href="{% url 'registration' %}"> Not registered? Sign Up</a>
</div>
{% endblock %}
