{% extends 'header.html' %}
{% block body %}
    <div class="center buffer-top">
        <h1>Welcome to EventLite</h1><br>
        <span>The place for all your ticket needs.</span>
        <form class="login-form" action="">
            Username: <input class="login-input" type="text" name="username">
            <br><br>
            Password: <input class="login-input" type="text" name="password">
            <br><br>
            <input class="btn btn-primary login-btn" type="submit" value="Log in">
        </form>
        <br>
        <fb:login-button
                id="facebook-login"
                scope="public_profile,email"
                onlogin="checkLoginState();">
        </fb:login-button>
        <div id="status">
        </div>

        <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'loggedin' %}">
            Login with Google
        </a>
    </div>
</body>
{% endblock %}
