{% extends 'base.html' %}
{% block title %}View Events{% endblock %}
{% block left-content %}{% endblock %}
{% block center-content %}
    <h1 class="center">My Events</h1>
    <div class="well tall-well well-content">
        {% for error in errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% include 'event-list.html' %}
        <br>
    </div>
{% endblock %}
{% block right-content %}{% endblock %}
