{% extends 'header.html' %}
{% block title %}Password Recovery{% endblock %}
{% block body %}
    <div class="buffer-top recover-well center well">
        <h3>Create a new password</h3>
        {% include 'form-errors.html' %}
        <form class="recover-form" action="{% url 'new-password' key %}" method="post">
            Password: <input class="recover-input" type="password" name="password1">
            <br><br>
            Confirm Password: <input class="recover-input" type="password" name="password2">
            <br><br>
            {% csrf_token %}
            <input class="btn btn-primary login-btn" type="submit" value="Send Password">
        </form>
        <br>
    </div>
{% endblock %}