{% extends "base.html" %}
{% block title %}
    Post an Event!
{% endblock %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'eventlite/css/post-event.css' %}"/>
{% endblock %}

{% block left-well %}
{% endblock %}
{% block center-content %}


    <h3 class="center">Post an Event: </h3><br>
    <div class="center">
        {% for error in errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <form action="{% url 'post-event' %}" method="post">
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="row">
                <div class="col-xs-3">
                    {{ field.errors }}
                </div>
                <div class="post-label fieldWrapper col-xs-3">
                    {{ field.label }}
                </div>
                <div class="post-event-field">{{ field }}</div>
            </div>

            {% if field.name == "location" %}
            {% endif %}
        {% endfor %}


        <br>
        <div id="ticket-types"></div>
    <div class="center">
        <div id="add-ticket" class="btn btn-primary">
            New Ticket
        </div>
    </div>
    <br>
    <div class="center">
        <div id="post-event"
             class="btn btn-primary post-event-btn">
            Post Event
        </div>
        <br>
    </div>
    {% csrf_token %}
    </form>

{% endblock %}

{% block right-content %}
    <div id="map" >

    </div>

        {% load static %}
        <script src="{% static 'js/postEvent.js' %}"></script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGAfMw23ko_z5TJLg_nfi6PLClCxQ7yqw&callback=initMap">
        </script>
{% endblock %}
{% block right-well %}


{% endblock %}
