{% extends "base-wells.html" %}
{% block title %}
    Post an Event!
{% endblock %}
{% block left-well %}
{% endblock %}
{% block center-content %}
    <h3 class="well white-background">Post an Event: </h3><br>
    <form action="{% url 'post-event' %}" method="post">
        <div class="col-xs-2">
            Name:
        </div>
        <input class="medium-input" name="name" type="text"><br>
        <div class="col-xs-2">
            Description:</div>
        <input class="long-input" name="description" type="text"><br>
        <div class="col-xs-2">
            Location:</div>
        <input class="medium-input" name="location" type="text"><br>
        <div class="col-xs-2">
            Time:</div>
        <input class="medium-input" name="time" type="datetime-local"><br>
        <div class="col-xs-2">
            Media:</div>
        <input name="media" type="file"><br>
        <input class="btn btn-primary" type="submit" value="Post Event"><br>
        {% csrf_token %}
    </form>
{% endblock %}
{% block right-well %}
{% endblock %}