{% extends "base-twothirds.html" %}
{% block title %}
    Post an Event!
{% endblock %}

{% block customcss %}
{% load static %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'eventlite/css/post-event.css' %}"/>
{% endblock %}

{% block left-content %}


    <h3 class="center">Post an Event: </h3><br>
    <div class="center">
        {% for error in errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>


    <form action="{% url 'post-event' %}" method="post">
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="row">
                <div class="col-xs-2">
                    {{ field.errors }}
                </div>
                <div class="post-label fieldWrapper col-xs-3">
                        {{ field.label }}
                </div>
                <div class="post-event-field col-xs-5">
                    {% if field.name == "time" %}
                        <div class="input-append date form_datetime">
                            <input id="id_time" size="16" type="text" value="" readonly>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            </div>

            {% if field.name == "location" %}
            {% endif %}
        {% endfor %}


        <br>
        <div id="ticket-types"></div>

    <div class="center">
        <div id="add-ticket" class="btn btn-primary">
            New Ticket
        </div>
    </div>

    <br>
    <div class="center">
        <div id="post-event"
             class="btn btn-primary post-event-btn">
            Post Event
        </div>
        <br>
    </div>
    {% csrf_token %}
    </form>

{% endblock %}

{% block right-content %}
    <br><br><br>
    <div id="map" >

    </div>

        {% load static %}
        <script src="{% static 'libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
        <script src="{% static 'js/postEvent.js' %}"></script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGAfMw23ko_z5TJLg_nfi6PLClCxQ7yqw&callback=initMap">
        </script>
{% endblock %}
{% block right-well %}


{% endblock %}
