{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block center-content %}
{% for error in errors %}
    <span class="error">{{ error }}</span>
{% endfor %}
<span class="user-title">{{ profile_user.username }}</span><br>
<div class="info">
<form enctype="multipart/form-data" action="{% url 'profile' user.id %}" method="post">
    {% if user_detail.icon %}
        <img class='profile-image' src="{% url 'userimage' user_detail.user.id %}">
    {% endif %} <br>
    <hr>
    {% if user == profile_user %}
        {{ image_form }}
    {% endif %}
    <br>
    <strong>Joined</strong> {{ user_detail.joined }}<br>
    <strong>Name:</strong> {{ profile_user.first_name }} {{ profile_user.last_name }}<br>
    <strong>Email:</strong> {{ profile_user.email }}<br><br>
    {% if user_detail.bio %}
        <strong>Bio</strong>: {{ user_detail.bio }}
    {% endif %}
    {% if user == profile_user %}
        {{ bio_form.non_field_errors }}

        {% for field in bio_form %}
            <div class="row">
                <div class="row">
                    {{ field.errors }}
                </div>
                <textarea class='bio-field' id="id_content"
                   name="{{ field.name }}" maxlength="420"
                   type="text" rows="3"></textarea>
            </div>
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    {% if user == profile_user %}
        <input class="btn btn-primary" type="submit" value="Save Changes">
    {% endif %}
</form>
</div><br>
    <div>
        {% include 'events.html' %}
    </div>
{% endblock %}