{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block center-content %}
{% for error in errors %}
    <span class="error">{{ error }}</span>
{% endfor %}
<span class="user-title">{{ profile_user.username }}</span><br>
<div class="info">
<form enctype="multipart/form-data" action="{% url 'profile' user.id %}" method="post">
    {% if user_detail.image %}
        <img src="{{user_detail.image}}">
    {% endif %} <br>
    {% if user == profile_user %}
        {{ image_form }}
    {% endif %}
    Joined {{ user_detail.joined }}<br>
    Name: {{ profile_user.first_name }} {{ profile_user.last_name }}<br>
    Email: {{ profile_user.email }}<br>
    {% if user_detail.bio %}
        Bio1: {{ user_detail.bio }}
    {% endif %}
    {% if user == profile_user %}
        {{ bio_form }}
    {% endif %}
    {% csrf_token %}
    {% if user == profile_user %}
        <input class="btn btn-primary" type="submit" value="Submit">
    {% endif %}
</form>
</div><br>
    <div>
        {% include 'events.html' %}
    </div>
{% endblock %}