{% extends 'header.html' %}
{% block title %}Password Recovery{% endblock %}
{% block body %}
    <div class="buffer-top recover-well center well">
        <h3>Recover Password</h3>
        {% for error in errors %}
            <span class='error'>{{ error }}</span>
        {% endfor %}
        {%for error in form.non_field_errors %}
        <tr>
        <td class='error'>{{error}}</td>
        </tr>
        {% endfor %}
        {%for field in form.visible_fields %}
        <tr>
        <td class='error'>{{field.errors}}</td>
        </tr>
        {% endfor %}
        {% if not errors %}
            <br>
        {% endif %}
        <br>
        <form class="recover-form" action="{% url 'recover-password' %}" method="post">
            Username: <input class="recover-input" type="text" name="username">
            <br><br>
            or
            <br><br>
            Email: <input class="recover-input" type="text" name="email">
            <br><br>
            {% csrf_token %}
            <input class="btn btn-primary login-btn" type="submit" value="Send Password">
        </form>
        <br>
    </div>
{% endblock %}