{% extends 'header.html' %}
{% block title %}
    Registration
{% endblock %}
{% block body %}
<div class="center buffer-top">
    <div class="col-xs-3"></div>
    <div class="well register col-xs-6">
        {% include 'form-errors.html' %}
        <h2 class="signup">Sign up for EventLite</h2><br>
        <form action="{% url 'registration' %}" method="post">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="text-left col-xs-3">
                    Username:
                </div>
                <div class="col-xs-5">
                    <input class="pull-left medium-input"
                           name="username"
                           type="text"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="text-left col-xs-3">
                    Password:
                </div>
                <div class="col-xs-5">
                    <input class="pull-left medium-input"
                           name="password1"
                           type="password"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="text-left col-xs-3">
                    Confirm Password:
                </div>
                <div class="col-xs-5">
                    <input class="pull-left medium-input"
                           name="password2"
                           type="password"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="text-left col-xs-3">
                    Email:
                </div>
                <div class="col-xs-5">
                    <input class="pull-left medium-input"
                           name="email"
                           type="text"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="text-left col-xs-3">
                    First Name:
                </div>
                <div class="col-xs-5">
                    <input class="pull-left medium-input"
                           name="first_name"
                           type="text"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="text-left col-xs-3">
                    Last Name:
                </div>
                <div class="col-xs-5">
                    <input class="pull-left medium-input"
                           name="last_name"
                           type="text"><br>
                </div>
            </div>
            {% csrf_token %}
            <br>
            <input class="btn btn-primary register-input" type="submit" value="Sign Up">
        </form>
    </div>
</div>
{% endblock %}
