<div id="ticket-type-{{ id }}" xmlns="http://www.w3.org/1999/html">
<br>
    <div class="row">
        <div class="col-xs-3"></div>
        <h1 class="" id="ticket-header-{{ id }}">Ticket:</h1>
        <div id ="delete-btn-{{ id }}" class="btn">X</div>
    </div>
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="row">
            <div class="col-xs-3">
                {{ field.errors }}
            </div>
            <div class="post-label fieldWrapper col-xs-3">
                {{ field.label }}
            </div>
            <div class="post-event-field col-xs-5">
                {% if field.name ==  'details' %}
                <textarea id="ticket-{{ field.name }}-{{ id }}"
                       name="{{ field.name }}" max_length="100"
                           type="text" rows="5"></textarea>
                {% else %}
                <input id="ticket-{{ field.name }}-{{ id }}"
                       name="{{ field.name }}" max_length="100"
                       required type="text">
                {% endif %}
            </div>
        </div>
    {% endfor %}
<br>
</div>
