{% extends 'base.html' %}
{% block title %}View Events{% endblock %}
{% block left-content %}
    <form action="{% url 'search-events' %}" method="post">
    <div class="filters">
        <div class="inner-filters">
        Filter by Location: <br>
            <div class="row">
                <span class="filter-label buffer-right">Center</span>
                <input class="filter-field" name="location"
                       id="location" type="text"><br>
            </div><br>
            <div class="row">
                <span class="filter-label buffer-right">Radius</span>
                <input class="filter-field" name="radius"
                       id="radius" type="number"><br>
            </div>
        </div>
    </div>
{% endblock %}
{% block center-content %}
    <h1 class="center">Events</h1>
        <div class="row">
            <input class="search-btn 2u btn btn-primary" id="search-btn"
                   type="submit" value="Search">
            {% csrf_token %}
            <input class="9u search-field" name="search" type="text"
                   id="search">
        </div>
    </form>
    <br>
    {% include 'event-list.html' %}
{% endblock %}

{% block right-content %}

{% load static %}
<script src="{% static 'libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/search-event.js' %}"></script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGAfMw23ko_z5TJLg_nfi6PLClCxQ7yqw&callback=initMap">
</script>
{% endblock %}
