{% extends 'base.html' %}
{% block title %}View Events{% endblock %}
{% block left-content %}{% endblock %}
{% block center-content %}
    <h1 class="center">Events</h1>
    <form action="{% url 'search-events' %}" method="post">
        <div class="row">
            <input class="2u btn btn-primary" id="search-btn"
                   type="submit" value="Search">
            {% csrf_token %}
            <input class="9u search-field" name="search" type="text"
                   id="search">
        </div>
    </form>
    <br>
    {% include 'event-list.html' %}
{% endblock %}
{% block right-content %}{% endblock %}